{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        },
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    "@babel/transform-react-jsx"
  ]
}
