* {
  -webkit-box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 17px/1.5 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  background: white;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #33a0c0;
}

section {
  min-height: 50%;
}

section:not(:last-child) {
  border-bottom: 1px solid #eee;
}

section:not(#top) {
  padding: 150px 100px;
  text-align: center;
}

pre {
  background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px;
  font-size: 0.9em;
  font-family: monospace;
  overflow-x: auto;
}

pre .hljs {
  background-color: transparent;
}

.content img {
  width: 100%;
}

p {
  font-weight: 300;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}

code {
  font-family: monospace;
  font-size: 0.9em;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

h1:not(:first-child) {
  margin-top: 50px;
}

h2 {
  margin-top: 80px;
  font-size: 1.2em;
}

h3 {
  margin-top: 40px;
  font-size: 1em;
}

ul li {
  font-size: 0.8em;
}

section:nth-child(2n) {
  background: #fdfdfd;
  box-shadow: inset 0 1px 0 0 white;
}

.content {
  margin: 0 auto;
  max-width: 750px;
  text-align: left;
}

#top {
  height: 100%;
}

#heading {
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  width: 100%;
}

#logo {
  font: 150px 'Italiana', sans-serif;
  text-transform: lowercase;
}

#tagline {
  font-size: 16px;
}

#menu {
  position: fixed;
  top: 35px;
  right: 30px;
  z-index: 50;
}

#menu:hover ul {
  display: block;
}

#menu a {
  color: inherit;
}

#menu a#toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  border: 1px solid transparent;
  z-index: 5;
}

#menu:hover a#toggle {
  border: 1px solid #efefef;
  border-bottom: none;
}

#menu ul {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  margin: 0;
  border: 1px solid #efefef;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px 0 #eee;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  display: block;
  text-decoration: none;
  padding: 3px 0;
}

#menu ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  section:not(#top) {
    padding: 50px 25px;
  }

  #heading {
    margin-top: -75px;
  }

  #logo {
    font-size: 75px;
  }

  #tagline {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
}
